@model List<BillPay>
@{
    ViewData["Title"] = "DisplayBillPays";
    List<BillPay> billPays = Model;
}

<h1>My Bill Pays</h1>

<div>
    <table class="table">
        <tr>
            <th> </th>
            <th>Payee</th>
            <th>@Html.DisplayNameFor(x => billPays[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => billPays[0].ScheduleDate)</th>
            <th>@Html.DisplayNameFor(x => billPays[0].Period)</th>
            <th>Availability</th>
            <th>Status</th>
        </tr>
        @{
            if (billPays.Count == 0)
            {
                <h2>No bill pay found.</h2>
            }
            else
            {
                foreach (BillPay billPay in billPays)
                {

    <tr>
        <td>
            <form asp-action="EditBillPay">
                <input hidden value="@billPay.BillPayID" name="billPayID">
                <div class="form-group">
                    <input type="submit" value="Modify" class="btn btn-primary" />
                </div>
            </form>
        </td>

        @{
            <td>@Html.DisplayFor(x => billPay.Payee.PayeeName)</td>
            <td>@Html.DisplayFor(x => billPay.Amount)</td>
            DateTime date = billPay.ScheduleDate.ToLocalTime();
            <td>@Html.DisplayFor(x => date)</td>
            <td>@Html.DisplayFor(x => billPay.Period)</td>
            if (billPay.IsBlocked)
            {
                <td class="text-danger">Blocked</td>
            }
            else
            {
                <td class="text-success">Available</td>
            }

            if (billPay.IsFailed)
            {
                <td class="text-danger">Failed</td>
            }
            else
            {
                <td class="text-success">Awaiting</td>
            }
        }

    </tr>
                }
            }
        }
    </table>
    <form asp-action="BillPay">
        <div class="form-group">
            <input type="submit" value="Add bill pay" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>